{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="assets/images/logo-16x16.png"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Angalo - Social Network</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.9.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <!-- Styles -->
    <link href="{% static 'assets/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/components.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/profile.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/media.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/update.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/load.js' %}" type="text/javascript"></script>


</head>
<style>
    .btn{
        white-space: nowrap;
        text-align : center;
    }

</style>

<body class="profile" >
<div class="container-fluid newsfeed d-flex"id="wrapper">
    <div class="row newsfeed-size">
        <div class="col-md-12 p-0">
            {% include 'navbar_base.html' %}

            <div class="row profile-right-side-content">
                <div class="user-profile">
                    <div class="profile-header-background">
                        <a href="#" class="profile-cover">
                            <img src="{% static 'assets/images/users/cover/cover-1.gif' %}"
                                 alt="Profile Header Background">

                        </a>
                    </div>
                    <div class="row profile-rows">
                        <div class="col-md-3">
                            <div class="profile-info-left">
                                <div class="text-center">
                                    <div class="profile-img w-shadow">
                                        <img src="{{User_Profile.profile_pic.url}}" alt="Avatar"
                                             class="avatar img-circle">
                                    </div>
                                    <p class="profile-fullname mt-3">{{User_Profile.first_name}}
                                        {{User_Profile.last_name}}</p>
                                    <p class="profile-username mb-3 text-muted">@{{User_Profile.username}}</p>
                                </div>
                                {% if User_Profile != request.user %}
                                <div class="intro mt-4">
                                    <div class="d-flex">
                                        {% if Following %}
                                        <form method="GET" action="/follow-unfollow-user">
                                            <input hidden value='{{User_Profile.username}}' name="username">
                                            <button type="submit" style="border-radius:50px;"
                                                    class="btn btn-md btn-outline-success mr-3">Following
                                            </button>

                                        </form>
                                        {% else %}
                                        <form method="GET" action="/follow-unfollow-user">
                                            <input hidden value='{{User_Profile.username}}' name="username">
                                            <button type="submit" class="btn btn-outline-primary btn-md mr-3"
                                                    style="border-radius:50px"><i
                                                    class="bx bx-plus"></i>
                                                Follow
                                            </button>
                                        </form>
                                        {% endif %}

                                        {% if Friend_Request_Sent %}
                                        <form action="/send-friend-request" method="GET">
                                            <input hidden name="addfriend_username"
                                                   value="{{searched_user.username}}">
                                            <button type="submit" class="btn btn-primary btn-md"
                                                    style="border-radius:50px;font-size:0.9rem;"><i
                                                    class='bx bx-user-check'></i>
                                                Request sent
                                            </button>
                                        </form>

                                        {% endif %}

                                        {% if not Friend and not Friend_Request_Sent %}
                                        <form method="GET" action='/send-friend-request'>
                                            <input hidden name="addfriend_username" value="{{User_Profile.username}}">
                                            <button type="submit" class="btn btn-primary btn-md"
                                                    style="border-radius:50px;"
                                            ><i class='bx bx-user-plus'></i>
                                                <span>Add friend</span>
                                            </button>
                                        </form>
                                        {% else %}
                                        <form method="GET" action='/unfriend'>
                                            <input hidden name="username"
                                                   value="{{User_Profile.username}}">
                                            <button type="submit" class="btn btn-primary btn-md"
                                                    style="border-radius:50px;"
                                            ><i class='bx bx-user-x'></i>
                                                Unfriend
                                            </button>
                                        </form>
                                        {% endif %}


                                        <button type="button" class="btn btn-follow" id="moreMobile"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                                class='bx bx-dots-horizontal-rounded'></i> <span
                                                class="fs-8">More</span></button>
                                        <div class="dropdown-menu dropdown-menu-right profile-ql-dropdown"
                                             aria-labelledby="moreMobile">
                                            <a href="/" class="dropdown-item">Timeline</a>
                                            <a href="/" class="dropdown-item">About</a>
                                            <a href="/" class="dropdown-item">Followers</a>
                                            <a href="/" class="dropdown-item">Following</a>
                                            <a href="/" class="dropdown-item">Photos</a>
                                            <a href="/" class="dropdown-item">Videos</a>
                                            <a href="/" class="dropdown-item">Check-Ins</a>
                                            <a href="/" class="dropdown-item">Events</a>
                                            <a href="/" class="dropdown-item">Likes</a>
                                        </div>
                                    </div>

                                </div>
                                {% endif %}

                                <div class="intro mt-5 mv-hidden p-4">
                                    <div class="intro-item d-flex justify-content-between align-items-center">
                                        <h3 class="intro-about">Intro</h3>
                                    </div>
                                    <div class="intro-item d-flex justify-content-between align-items-center">
                                        {% if User_Profile.job|length != 0%}
                                        <p class="intro-title text-muted"><i class='bx bx-briefcase text-primary'></i>
                                            Job <a href="#">{{ User_Profile.job }}</a></p>
                                        {% endif %}
                                    </div>

                                    <div class="intro-item d-flex justify-content-between align-items-center">
                                        <p class="intro-title text-muted"><i class='bx bx-map text-primary'></i> Lives
                                            in <a href="#">{{User_Profile.city}}, {{User_Profile.country}}</a></p>
                                    </div>
                                    <div class="intro-item d-flex justify-content-between align-items-center">
                                        <p class="intro-title text-muted"><i class='bx bx-time text-primary'></i> Last
                                            Login
                                            {% if User_Profile.online %}
                                            <a href="#">Online <span class="ml-1 online-status bg-success"></span></a>
                                            {% else %}
                                            <a href="#">Offline <span
                                                    class="ml-1 online-status bg-secondary"></span></a>
                                        </p>
                                        {% endif %}
                                    </div>
                                    {% if request.user == User_Profile %}
                                    <div class="intro-item d-flex justify-content-between align-items-center">
                                        <a href="{% url 'basic-settings' %}"
                                           class="btn btn-quick-link join-group-btn border w-100">Edit
                                            Details</a>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="intro mt-5 row mv-hidden">
                                </div>
                                <div class="intro mt-5 mv-hidden">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 p-0">
                            <div class="profile-info-right">

                                <!-- Friends section -->
                                <div class="row px-2">
                                    <div class="col-md-9 profile-center">
                                        <ul class="list-inline profile-links d-flex justify-content-between shadow-sm rounded">
                                            <li class="list-inline-item">
                                                <a href="/profile/{{User_Profile.username}}">Timeline</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="/profile/{{User_Profile.username}}/about">About</a></li>
                                            <li class="list-inline-item ">
                                                <a href="/profile/{{User_Profile.username}}/friends">Friends</a>
                                            </li>
                                            <li class="list-inline-item profile-active">
                                                <a href="#">Photos</a>
                                            </li>

                                            <li class="list-inline-item dropdown">
                                                <a href="#" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <i class='bx bx-dots-vertical-rounded'></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right profile-ql-dropdown">
                                                    <a href="#" class="dropdown-item">Activity Log</a>
                                                    <a href="#" class="dropdown-item">Videos</a>
                                                    <a href="#" class="dropdown-item">Check-Ins</a>
                                                    <a href="#" class="dropdown-item">Events</a>
                                                    <a href="#" class="dropdown-item">Likes</a>
                                                </div>
                                            </li>
                                        </ul>
                                        {% if User_Profile == request.user %}
                                        <div class="col-md-9 col-md-12 mb-3">
                                                <div class="timeline-manage">
                                                    <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-quick-link join-group-btn border btn-sm tmo-buttons">
                                                        <i class='bx bx-plus'></i> <span>Add Photos</span>
                                                    </button>
                                                    <button
                                                            class="btn btn-quick-link join-group-btn border btn-sm tmo-buttons">
                                                        <i class='bx bx-trash'></i> Delete Photos
                                                    </button>
                                                    <button class="btn btn-quick-link join-group-btn border btn-sm tmo-buttons">
                                                        <i class='bx bxs-cog'></i> Manage Photos
                                                    </button>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="bg-white py-3 px-4 shadow-sm">
                                            <div class="card-head d-flex justify-content-between">
                                                <h5 class="mb-4">Latest Photos</h5>
                                                {% if User_Photos.count == 0%}
                                                <h4 class="mb-4 text text-muted">No photos uploaded</h4>
                                                {% endif %}
                                            </div>

                                            <div class="row">

                                                {% for photo in User_Photos %}

                                                <div class="col-md-4 col-sm-6 mb-2">
                                                    <div class="card group-card shadow-sm">
                                                        <img src="{{photo.image.url}}"
                                                             class="rounded float-left" alt="user image">
                                                    </div>
                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 profile-quick-media m-5">
                                        <h6 class="text-muted timeline-title"></h6>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- photos modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method = "POST" action="/posts/add-photos/{{request.user.username}}" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add photos</h1>
          <label class ="btn btn-dark btn-md ml-5" style="border-radius:40px;"><i class = "bx bx-plus">
              <input type = "file" name = 'upload_photos' accept="image/*" multiple="" data-max_length="20"  style="display:none;" id='upload_input__file'>
            </i><span>Add Photos</span>
          </label>
        <button role ="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id = "upload__box">
           <div class="gallery">

           </div>
      </div>
      <div class="modal-footer">
        <button role = "button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">upload photos</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script>
    $(function() {
    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsertImagePreview) {

        if (input.files) {
            var filesAmount = input.files.length;

            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();

                reader.onload = function(event) {
                    $($.parseHTML('<img style = "width:100px;padding:5px;">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                }

                reader.readAsDataURL(input.files[i]);
            }
        }

    };

    $('#upload_input__file').on('change', function() {
        imagesPreview(this, 'div.gallery');
    });

});
</script>


<!-- Core -->
<script src="{% static 'assets/js/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap/bootstrap.min.js' %}"></script>
<!-- Optional -->
<script src="{% static 'assets/js/app.js' %}"></script>
<script src="{% static 'assets/js/components/components.js' %}"></script>
</body>

</html>
