{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="messenger">
    <div class="container-fluid newsfeed d-flex" id="wrapper">
        <div class="row newsfeed-size f-width">
            <div class="col-md-12 message-right-side">
                {% include 'navbar_base.html' %}
                <div class="row message-right-side-content">
                    <div class="col-md-12">
                        <div id="message-frame">
                            <div class="message-sidepanel">
                                <div class="message-contacts settings-sidebar">
                                    <ul class="conversations">
                                        <h6 class="p-3">General Settings</h6>
                                        <li class="contact setting-active">
                                            <a href="{% url 'basic-settings' %}" class="wrap d-flex align-items-center">
                                                <img src="{% static 'assets/images/icons/settings/account.png' %}" class="settings-icon" alt="Settings left sidebar">
                                                <div class="meta">
                                                    <p>Your Account</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contact">
                                            <a href="{% url 'contact-settings' %}" class="wrap d-flex align-items-center">
                                                <img src="{% static 'assets/images/icons/settings/contact.png' %}" class="settings-icon" alt="Settings left sidebar">
                                                <div class="meta">
                                                    <p>Contact Info</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contact">
                                            <a href="#" class="wrap d-flex align-items-center">
                                                <img src="{% static 'assets/images/icons/settings/privacy.png' %}" class="settings-icon" alt="Settings left sidebar">
                                                <div class="meta">
                                                    <p>Privacy</p>
                                                </div>
                                            </a>
                                        </li>
                                        <h6 class="p-3">Security &#38; Login</h6>
                                        <li class="contact">
                                            <a href="{% url 'password-settings' %}" class="wrap d-flex align-items-center">
                                                <img src="{% static 'assets/images/icons/settings/account.png' %}" class="settings-icon" alt="Settings left sidebar">
                                                <div class="meta">
                                                    <p>Password</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contact">
                                            <a href="#" class="wrap d-flex align-items-center">
                                                <img src="{% static 'assets/images/icons/settings/security-question.png' %}" class="settings-icon" alt="Settings left sidebar">
                                                <div class="meta">
                                                    <p>Security Question</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contact">
                                            <a href="{% url 'fingerprint-settings' %}" class="wrap d-flex align-items-center">
                                                <div class="meta"></div>
                                                <p><img src="{% static 'assets/images/icons/settings/fingerprint.png' %}" class="settings-icon" alt="Settings left sidebar"> Fingerprint Lock</p>
                                            </a>
                                        </li>
                                        <li class="contact">
                                            <a href="{% url 'location-settings' %}" class="wrap d-flex align-items-center">
                                                <div class="meta"></div>
                                                <p><img src="{% static 'assets/images/icons/settings/location.png' %}" class="settings-icon" alt="Settings left sidebar"> Location</p>
                                            </a>
                                        </li>
                                        <h6 class="p-3">Billing &#38; Payment</h6>
                                        <li class="contact">
                                            <a href="{% url 'billing-settings' %}" class="wrap d-flex align-items-center">
                                                <div class="meta"></div>
                                                <p><img src="{% static 'assets/images/icons/settings/wallet.png' %}" class="settings-icon" alt="Settings left sidebar"> Billing Method</p>
                                            </a>
                                        </li>
                                        <li class="contact">
                                            <a href="#" class="wrap d-flex align-items-center">
                                                <div class="meta"></div>
                                                <p><img src="{% static 'assets/images/icons/settings/credit-card.png' %}" class="settings-icon" alt="Settings left sidebar"> Automatic Payments</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!--                            Billing Information -->
                            <div class="content" style="overflow: auto;">
                                <div class="settings-form p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h2 class="mb-4">Billing Method</h2>
                                        <a href="{% url 'add-billing' %}" class="btn btn-primary">Add New Billing Method</a>
                                    </div>
                                    <div class="login-sessions">
                                        <h5 class="mb-3 mt-4 text-muted">Primary Account Billing Method</h5>
                                        <p class="text-muted">This is the primary billing method for your account. Iy'll be the default we use to charge you for future transactions.</p>
                                        <div class="location-card">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img class="mr-4 float-left" src="{% static 'assets/images/icons/visa.png' %}" alt="Paymant image">
                                                    <div>
                                                        <h5 class="mt-0 fs-1">411111******1111</h5>
                                                        <span class="text-muted">Expire 12/2013</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="billing-address">
                                                        <span class="d-block">Billing address</span>
                                                        <span>Address line 1, Address line 2, 2700...</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <a href="#" class="btn"><i class='bx bxs-trash-alt'></i></a>
                                                </div>
                                            </div>
                                        </div>

                                        <h5 class="mb-3 mt-4 text-muted">All Other Billing Methods</h5>
                                        <p class="text-muted">These are all of the other billing methods you have added.</p>
                                        <div class="location-card">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <img class="mr-4 float-left" src="{% static 'assets/images/icons/paypal.png' %}" alt="Paymant image">
                                                    <div>
                                                        <h5 class="fs-1">Pay Pal</h5>
                                                        <span class="text-muted">bt_buyer_us@paypal.com</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="billing-address">
                                                        <span class="d-block">Billing address</span>
                                                        <span>Address line 1, Address line 2, 2700...</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 text-right">
                                                    <a href="#" class="btn btn-light">Set as Primary</a>
                                                    <a href="#" class="btn"><i class='bx bxs-trash-alt'></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}