

{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'assets/images/logo-16x16.png' %}" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Angalo - Social Network</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.9.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Styles -->
    <link href="{% static 'assets/css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/components.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/profile.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/media.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/load.js' %}" type="text/javascript"></script>
</head>

<style>
    .btn{
        white-space: nowrap;
        text-align : center;
    }
</style>
<body class="profile">
<div class="container-fluid" >
    <div class="row newsfeed-size">
        <div class="col-md-12 p-0">
            {% include 'navbar_base.html' %}
            <div class="row profile-right-side-content">
                <div class="user-profile">
                    <div class="profile-header-background">
                        <a href="#" class="profile-cover">
                            <img src="{% static 'assets/images/users/cover/cover-1.gif' %}"
                                 alt="Profile Header Background">
                        </a>
                    </div>
                    <div class="row profile-rows">
                        <div class="col-md-3">
                            <div class="profile-info-left">
                                <div class="text-center">
                                    <div class="profile-img w-shadow">

                                        <img src="{{ User_Profile.profile_pic.url}}" alt="Avatar"
                                             class="avatar img-circle img-fluid" style="object-fit:contain;">
                                        <div class="profile-img-caption">
                                        </div>
                                    </div>
                                    <p class="profile-fullname mt-3">{{User_Profile.first_name}}
                                        {{User_Profile.last_name}}</p>
                                    <p class="profile-username mb-3 text-muted">@{{User_Profile.username}}</p>
                                </div>


                                <div class="intro mt-5 mv-hidden p-4">
                                    <div class="intro-item d-flex justify-content-between align-items-center">
                                        <h3 class="intro-about">Intro</h3>
                                    </div>
                                    <div class="intro-item d-flex justify-content-between align-items-center">
                                        {% if User_Profile.job|length != 0%}
                                        <p class="intro-title text-muted"><i class='bx bx-briefcase text-primary'></i>
                                            Job <a href="#">{{ User_Profile.job }}</a></p>
                                        {% endif %}
                                    </div>
                                    <div class="intro-item d-flex justify-content-between align-items-center">
                                        <p class="intro-title text-muted"><i class='bx bx-map text-primary'></i> Lives
                                            in <a href="#">{{User_Profile.city}}, {{User_Profile.country}}</a></p>
                                    </div>
                                    <div class="intro-item d-flex justify-content-between align-items-center">
                                        <p class="intro-title text-muted"><i class='bx bx-time text-primary'></i> Last
                                            Login
                                            {% if User_Profile.online %}
                                            <a href="#">Online <span class="ml-1 online-status bg-success"></span></a>
                                            {% else %}
                                            <a href="#">Offline <span
                                                    class="ml-1 online-status bg-secondary"></span></a>
                                        </p>
                                        {% endif %}
                                    </div>
                                    {% if request.user == User_Profile %}
                                    <div class="intro-item d-flex justify-content-between align-items-center">
                                        <a href="{% url 'basic-settings' %}" class="btn btn-quick-link join-group-btn border w-100">Edit
                                            Details</a>
                                    </div>
                                    {% endif %}
                                </div>

                            </div>
                        </div>


                        <div class="col-md-9 p-0">
                            <div class="profile-info-right">

                                <!-- Posts section -->
                                <div class="row">
                                    <div class="col-md-9 profile-center">
                                        <ul class="list-inline profile-links d-flex justify-content-between w-shadow rounded">

                                        </ul>
                                        <ul class="list-unstyled" style="margin-bottom: 0;">
                                            <form method = "POST" action = "{% url 'edit-post' Edit_Post.slug %}" class="media post-form w-shadow" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="media-body">
                                                    <div class="form-group post-input">
                                                        <textarea class="form-control" name = "description" id="postForm" rows="2"
                                                                  placeholder="What's on your mind?" >{{Edit_Post.description}}</textarea>
                                                        {% if Edit_Post.post_image or Edit_Post.post_video %}
                                                            {% if Edit_Post.post_image %}
                                                            <img src ="{{Edit_Post.post_image.url}}" id='photo_upload_1' style="display:block;"
                                                             class="img-fluid">
                                                             <video id="video_upload_1" style="display:none;" src = "#" class="video-js vjs-default-skin post-content" width="640px" height="400px" controls autoplay>
                                                        Browser not supported
                                                        </video>


                                                        {% else %}
                                                        <img src ="#"  style="display: none;" id='photo_upload_1'
                                                             class="img-fluid">
                                                        <video id="video_upload_1" style="display:block;" src = "{{Edit_Post.post_video.url }}"class="video-js vjs-default-skin post-content" width="640px" height="400px" controls autoplay>
                                                        Browser not supported
                                                        </video>
                                                        {% endif %}

                                                        {% endif %}
                                                    </div>
                                                    <div class="row post-form-group">
                                                        <div class="col-md-9">

                                                            <label class="btn btn-link post-form-btn btn-md">
                                                                <input style ="display: none;" id ='photo_1' type="file" name = 'photo_upload'/>
                                                                <i class='bx bxs-image'></i> <span>Photo</span>
                                                            </label>

                                                            <label class="btn btn-link post-form-btn btn-md">
                                                                <input style ="display: none;" id ='video_1' type="file" name = 'video_upload'/>
                                                                <i class='bx bxs-videos'></i> <span>Video</span>
                                                            </label>

                                                            <button type="button"
                                                                    class="btn btn-link post-form-btn btn-md">
                                                                <i class='bx bxs-group'></i> <span>Tag Friends</span>
                                                            </button>
                                                        </div>
                                                        <script>
                                                       {% include 'photo_video_upload.js' %}
                                                       </script>

                                                        <div class="col-md-3 text-right">
                                                            <button type="submit" class="btn btn-primary btn-sm">
                                                                edit post
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- New message modal -->

</body>

    <script src="{% static 'assets/js/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- Optional -->
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/components/components.js' %}"></script>
</body>
</html>

