{% extends 'base.html' %}
{% load static %}
{% block content %}

<body background="{% static 'assets/images/background/auth-bg.png' %}">
<!--    <div class="row ht-100v flex-row-reverse no-gutters">-->
        <div class = 'container' style=" background: white; margin-top:1%; width:50%; border-radius:20px;" >
            {% if validlink %}
            <div class="signup-form">
                <div class="auth-logo text-center mb-5">
                    <div class="row">
                        <div class="col-md-2" style="padding:2%;">
                            <img src="{% static 'assets/images/logo-64x64.png' %}" class="logo-img" alt="Logo">

                                <h3>Angalo</h3>
                        </div>

                    </div>
                </div>
<!--                To show any messages -->
                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
    		                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        	                <span aria-hidden="true">&times</span>
    	                    </button>
                                {% for key, value in form.errors.items %}
    	                        <strong>{{value}}</strong>
                                {% endfor %}
                        </div>
		        {% endif %}

                <form method="POST" class="pt-1">
                    {% csrf_token %}
                    <div class="row">
                        <div class ="col-md-12">
                        <p class = "text text-muted">
                            Enter New password , the password must be strong for your security purpose . Thank you
                        </p>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.new_password1 }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.new_password2 }}
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary sign-up">Reset Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% else %}
            <div class = "signup-form">
                 <div class="auth-logo text-center mb-5">
                    <div class="row">
                        <div class="col-md-2" style="padding:2%;">
                            <img src="{% static 'assets/images/logo-64x64.png' %}" class="logo-img" alt="Logo">

                                <h3>Angalo - Social Network Site</h3>
                        </div>
                        <div class = "alert alert-warning">
                            The Password Reset Link was invalid, it may have been already used.
                            Please request a new password reset. Thank you.
                        </div>
                    </div>
                </div>

            </div>
            {% endif %}
        </div>


</body>
{% endblock %}