{% extends 'base.html' %}
{% load static %}
{% block content %}
<body background="{% static 'assets/images/background/auth-bg.png' %}">
<!--    <div class="row ht-100v flex-row-reverse no-gutters">-->
        <div class = 'container' style="background: white; margin-top:5%;width:50%; border-radius: 20px;">
            <div class="signup-form">
                <div class="auth-logo text-center mb-5">
                    <div class="row">
                        <div  style="padding:2%">
                            <img src="{% static 'assets/images/logo-64x64.png' %}" class="logo-img" alt="Logo">
                            <h3>Angalo</h3>
                        </div>
                        <div class="col-md-10">
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class = "col-md-12">
                        <h4>Password reset sent</h4>
                        <p class = 'text text-muted' > We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder..</p>
                        </div>
                        <div class="col-md-12 text-right">
                            <div class="form-group">
                                <button onclick="location.href = '/login'" class="btn btn-primary sign-up">Go back to login</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>

    <!-- Modal -->


    <!-- Core -->
  {% endblock %}
